body {
    background-color: #a7b8c0;
    height: 100px;
    color: grey;
    text-align: center;
}
.image {
      flex-grow: 1;
      object-fit: cover;
     align-items: center;
     justify-content: center;
     height: 30vh;
      }
       footer {
       text-align: center;
       color: white;
       }
 .black {
    color: black;}
    .dark-blue {
    color: #00003B
    }