<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${reviewModel.title}">My Review</title>
    link rel='stylesheet' href='static/css/style.css' />
</head>
<body>

<header>
    <h1 th:text="${reviewModel.title}">My Review</h1>
</header>

<main>
    <ul>
        <p><a href="/reviews">Review</a></p>
        <li th:text="${reviewModel.title}"></li>
    </ul>
    <div>
    <h2 th:text="${reviewModel.image}"></h2>
    </div>
    <div>
    <h2 th:text="${reviewModel.category}"></h2>
    </div>
    <div>
    <h2 th:text="${reviewModel.content}"></h2>
    </div>
</main>

<footer>
    <small>&copy BTC 2021</small>
</footer>

</body>
</html>